.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 15%;
  border: 1px solid #333;
  padding: 10px;
  font-size: 20px;
  background-color: #333;
  color: #fff;
}

.container_block {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.container_block span {
  font-size: 16px;
  text-transform: none;
  color: beige;
}
.container_block span:hover {
  text-decoration: underline;
  color: #007bff !important;
}

.container_block input {
  font-size: 20px;
}

.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  border: 1px solid #fff;
  background-color: #333;
}

.btn:hover {
  border: 1px solid #333;
  background-color: #fff;
}
